@use "../abstracts" as *;

.testimonials {
  width: 100%;
  text-align: center;
  font-size: 14px;

  h3 {
    color: $grayishBlue;
    margin-bottom: 75px;
  }
}

.testimonials-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial {
  margin-bottom: 48px;
  color: $darkGrayishBlue;
  & > *:not(:last-child) {
    margin-bottom: 30px;
  }

  img {
    width: 58px;
    height: 58px;
    border-radius: 50%;
  }

  .testimonial-text {
    padding: 0 28px;
    line-height: 1.6;
  }

  .testimonial-name {
    color: $veryDarkDesaturatedBlue;
    font-weight: $black;
  }

  .testimonial-position {
    font-size: 14px;
    color: $grayishBlue;
  }
}

@include tablet {
  .testimonials-list {
    flex-direction: row;
    align-items: flex-start;
  }

  .testimonials {
    padding: 20px 10px;
    font-size: 14px;

    & > *:not(:last-child) {
      margin-bottom: 60px;
    }
  }
}

@include desktop {
  .testimonials {
    padding: 80px 60px;
    font-size: 18px;

    & > *:not(:last-child) {
      margin-bottom: 60px;
    }
  }
}
